/* this is css */ 

/*===========================
         Base Elements
============================*/



h1{
    font-size: 5.67em;
    text-transform: uppercase;
    line-height: 1.6;
    margin: 14px 0 0;
    font-family: 'RalewayRegular'; 
    font-weight: normal; 
    font-style: normal; 
}

h2 {
    font-size: 4.46em;
    line-height: 1.2;
    font-family: 'RalewayRegular'; 
    font-weight: normal; 
    font-style: normal; 
    text-align: center;
}

h3 {
    font-size: 3.46em;
    line-height: 1;
    font-family: 'RalewayRegular'; 
    font-weight: normal; 
    font-style: normal; 
}

body {
    background-color: #696969;
    width: 100% !important;
}

/*==========================
        Layout Syles
===========================*/


.main-header {
    height: 400px;
    background:  #B8860B url(img/whiskeybarrels.jpg) center; 
    text-align: center;
    background-size: cover;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}


.main-footer {
    text-align: center;
    background: darkslategray;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.title {
    margin: 0;
    color: white;
    height: 400px;
    border-bottom: 3px;
    padding-bottom: 15px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.welcome {
    text-align: center;
    padding-bottom: 25px;
}

.pictures {
    display: center;
    margin-left: auto;
    margin-right: auto;
    height: 32%;
    width: 32%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.blog {
    text-align: center;
    padding-top: 25px;
}

.history {
    text-align: center;
}

.work,
.about {
    width: 42.6%;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.work {
    text-align: center;
}

.about {
    text-align: center;
}

/*==========================
        Nav Bar
===========================*/

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #696969;
    color: black;
  }
  
  .active {
    background-color: #000;
    color: white;
  }

/*=========================
        Social Media
==========================*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

/* .fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa:hover {
    opacity: 0.7;
} */



/*=========================
        Media Queries
==========================*/


@media (min-width: 769px) {
    .welcome {
        display: center;
        text-align: center;
        width: 70%;
        margin: auto;
        }
    
    .main-header {
        width: 590px;
        padding: 40px 15px 0;
    }

    .title {
        font-size: 3.0rem;
    }

    .pictures {
        margin-left: auto;
        margin-right: auto;
        height: 37%;
        width: 37%;

    }

}

@media (min-width: 375px) {
    .main-header {
        width: 100%;

    }
    
    .pictures {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

